/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */
:root {
    --darkfont: #000;
    --lightfont: #fff;
    --border-color: #e8eaed;
}

.view-mode * {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-variation-settings: "slnt" 0;
  }
  
  .viz-card-view-main .viz-card-view-item {
    width: 500px;
    border-radius: 9px;
    border: 2px solid var(--border-color);
    position: relative;
    margin: 0 20px 20px 0;
  }
  
  .viz-card-view-section {
    padding: 20px;
    border-bottom: 2px solid var(--border-color);
  }

  .viz-card-view-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
  
  .viz-card-view-section:last-child {
    border-bottom: none;
  }
  
  .viz-card-lesson-details {
    display: flex;
  }
  
  .viz-card-lesson-id {
    position: absolute;
    right: 20px;
    top: 35px;
    display: block;
    padding: 5px 10px 2px 10px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
  }
  
  .viz-card-lesson-status {
    margin: 20px 0;
    display: flex;
  }
  
  .viz-card-less-status-item {
    padding: 5px 10px;
    background: #f8f9fa;
    border: 2px solid var(--border-color);
    border-radius: 20px;
  }
  
  .viz-card-less-status-item span {
    display: inline-block;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    margin-left: 20px;
  }
  
  .viz-card-less-status-item:nth-child(n + 2) {
    margin-left: 20px;
  }
  
  .viz-card-profile-main {
    border-radius: 16px;
    padding: 5px;
    background-color: #f3f4f6;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
  }
  
  .viz-card-profile-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 16px;
    background-color: #fff;
  }

  .viz-card-profile-labelheader {
    flex: 1;
    max-width: calc(100% - 90px);
}
.viz-card-profile-avatar {
    width: 60px;
    background-size: 100%;
    background-position: center;
    height: 60px;
    border-radius: 50%;
    padding: 0 !important;
    margin: 5px;
}

.viz-card-profile-item > div {
    padding: 10px 5px 5px 5px;
}

.viz-card-profile-labelheader p {
    padding: 0 !important;
    text-align: left;
}

.viz-card-profile-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

